@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");

/* --------------- Sidebar -------------- */
#sidebar {
  background: hsl(210, 45%, 50%);
  color: white;
  max-width: 500px;
  min-width: 300px;
  overflow: hidden;
  padding: 10px;
  position: relative; /* For the resizable handle */
  width: 320px;
}

#sidebar .item {
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
}

#sidebar::after {
  background-color: hsl(210, 42%, 20%);
  bottom: 0;
  content: "";
  cursor: ew-resize; /* Set cursor for the resizable handle */
  position: absolute;
  right: 0;
  top: 0;
  width: 3px; /*Width of the resizable*/
}

.sidebar-group-header {
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

/* ---------------- Body ---------------- */
body {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0;
  min-height: 100vh;
}

.body-header {
  font-family: "Roboto Slab", sans-serif;
  font-size: 36px;
  padding-left: 10px;
}

.details-header {
  font-family: "Roboto Slab", sans-serif;
  font-size: 28px;
}

h3 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
}

h4 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
}

/* Main plot container */
.plot-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr); /* Two columns initially */
}

/* Media query for small screens */
@media (max-width: 960px) {
  .plot-container {
    grid-template-columns: 1fr; /* Switch to a single column for small screens */
  }
}

.box {
  border: 1px solid transparent;
  display: grid;
  grid-template-rows: auto;
  height: 100vh; /*fit-content*/
  max-height: 512px;
  min-height: 400px;
  padding: 10px;
  position: relative;
  text-align: center;
}

/* -------------- Buttons  -------------- */

button {
  font-family: "Roboto Slab", sans-serif;
  font-size: 12px;
}

.btn-default:hover {
  background-color: #e9e9e9;
}

/*Remove margin of form group, which is what we use for the checkbox button*/
.form-group {
  margin-bottom: 0px;
}

/* ---------------- Math ---------------- */

/*Otherwise text is not italics*/
.mord.mathnormal{
  font-style: italic;
}

.katex-display {
  font-size: 1.25em;
  margin: 0.5em 0 !important;
}

/* -------------- Canvnas -------------- */

/* Canvas container  */
.rglWebGL {
  height: 100%;
  overflow: hidden; /* Ensure that overflow is hidden */
  position: relative; /* Establish positioning context */
}

canvas {
  border: 1px solid transparent;
  width: 100%; /* Make sure the canvas fills the width of its container */
  height: 100%; /* Make sure the canvas fills the height of its container */
  display: block; /* Ensure that canvas behaves as a block element */
}

/* Statistics within the canvas */
#text_div {
  color: black;
  left: 0.75em;
  position: absolute;
  text-align: left;
  top: 0.75em;
  z-index: 1;
}

#text_div p {
  margin: 0 0 4px;
}

/* ------------ Accordion -------------- */

/* Sets the width for the accordion. Sets the margin to 90px on the top and bottom and auto to the left and right */

.accordion {
  width: 100%;
  margin: 10px auto;
  color: black;
  background-color: white;
  padding: 2.5px 0px;
}

.accordion .accordion-container {
  position: relative;
  margin: 10px 0px;
}

/* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */
.accordion .label {
  color: #333;
  cursor: pointer;
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
}

/* Positions the plus sign 5px from the right. Centers it using the transform property. */
.accordion .label::before {
  content: "+";
  color: #333;
  position: absolute;
  top: 0.5em;
  right: 1%;
  font-size: 30px;
  transform: translateY(-50%);
  z-index: 10;
}

/* Hides the content (height: 0), decreases font size, justifies text and adds transition */
.accordion .content {
  background: white;
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  position: relative;
  text-align: justify;
  transition: 0.5s;
  width: 97.5%;
}

/* Adds a horizontal line between the contents */
.accordion hr {
  background-color: grey;
  border: none;
  height: 0.5px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-top: 10px;
  width: 100%;
}

.accordion .accordion-container.active .content {
  max-height: 500px;
}

/* Changes from plus sign to negative sign once active */
.accordion .accordion-container.active .label::before {
  color: #333;
  content: "-";
  font-size: 30px;
  z-index: 10;
}

.accordion .katex-display {
  font-size: 1.1em;
}