.range-input {
  position: relative;
}

input[type=range] {
  background-color: transparent;
  margin: 20px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #34495e;
  border-radius: 25px;
  cursor: pointer;
  height: 4px;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(0, 0 ,0, 1);
  cursor: pointer;
  height: 16px;
  margin-top: -6px;
  width: 16px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #34495e;
}

.range-value {
  position: absolute;
  top: -50%;
}

.range-value span {
  background: #34495e;
  border-radius: 6px;
  color: #fff;
  display: block;
  font-family: "Roboto Slab", sans-serif;
  font-size: 12px;
  height: 24px;
  left: 50%;
  line-height: 24px;
  min-width: 30px;
  padding-left: 0.3em;
  padding-right: 0.3em;
  position: absolute;
  text-align: center;
  transform: translate(-47%, -160%);
  width: auto;
}

.range-value span:before{
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #34495e;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
  position: absolute;
  top: 100%;
  width: 0;
}

.range-input-label {
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  margin-bottom: 35px;
  margin-top: -7.5px;
}

.control-label {
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  margin-bottom: 35px;
  margin-top: -7.5px;
  display: flex;
  gap: 5px;
}

/* Tooltip container */
.control-label-tooltip {
  position: relative;
  display: inline-block;
  font-size: 14px;  
}

/* Tooltip text */
.control-label-tooltip .control-label-tooltip-content {
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 11px;  

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 150%;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.control-label-tooltip .control-label-tooltip-content::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.control-label-tooltip:hover .control-label-tooltip-content {
  visibility: visible;
  opacity: 1;
}